.component {
    height: 600px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 5px;

    .jokeWrapper {
        height: 560px;
        overflow-y: scroll;

        ul {
            list-style: none;
            padding: 0px;
            border-radius: 5px;
            margin: 0;

            li {
                padding: 5px;
                cursor: default;

                &.active {
                    background-color: #20aaff;

                    &:hover {
                        color: #ffdd11;
                    }
                }

                &:hover {
                    background-color: #6cccff;
                    color: #fff;
                }

                div {
                    display: inline-block;
                }
            }
        }
    }

    .actions {
        height: 40px;
        background-color: #ccc;

        span {
            margin-left: 10px;
            line-height: 40px;
            color: #fff;
        }

        button {
            float: right;
            height: 100%;
            background-color: #20aaff;
            color: #fff;
            border: 0;
            cursor: pointer;

            &:hover {
                background-color: #0088ff;
            }
        }
    }
}