<div class="header">
    <div class="user">
        <div class="email">{{userMail()}}</div>
        <button (click)="logout()">Logout</button>
    </div>
</div>

<div class="content">
    <div class="jokeDisplay" *ngIf="jokes">
        <app-joke-list [jokes]="jokes" [actionButtonText]="'Add to favorites'"
            (selectedJoke)="addJokeToFavorites($event)">
        </app-joke-list>
    </div>
    <div class="jokeDisplay" *ngIf="favorites">
        <app-joke-list [jokes]="favorites" [actionButtonText]="'Remove from favorites'"
            (selectedJoke)="removeJokeFromFavorites($event)"></app-joke-list>
    </div>

    <button (click)="startFillingFavorites()">Add random favorite jokes</button>
</div>